<template>
  <v-card
    class="pa-5"
    light
  >
    <v-card-title
      class="d-flex justify-center text-h4"
    >
      Circulos
    </v-card-title>
    <v-card-text
      class="mt-8"
    >
      <v-alert
        v-model="showAlert"
        dismissible
        class="mt-2 mb-5 px-3 py-2"
        type="error"
      >
        {{ message }}
      </v-alert>
      <p
        class="ma-0 px-0 pb-2 black--text text-bold text-h5 d-flex justify-center"
      >
        Agrega circulos para empezar el ejercicio
      </p>
      <v-row
        class="mt-5"
      >
        <v-col
          ref="form"
          cols="12"
          md="6"
        >
          <v-text-field
            ref="name"
            v-model.number="circle.name"
            label="Nombre del circulo"
            full-width
            class="mb-0 py-0"
            :rules="[ value => !!value || 'Este campo es requerido.' ]"
            outlined
          />
          <v-text-field
            ref="x"
            v-model.number="circle.x"
            label="Centro en el eje X del circulo"
            class="my-0 py-0"
            full-width
            :rules="[ value => !!value || 'Este campo es requerido.' ]"
            outlined
          />
          <v-text-field
            ref="y"
            v-model.number="circle.y"
            label="Centro en el eje Y del circulo"
            class="my-0 py-0"
            full-width
            :rules="[ value => !!value || 'Este campo es requerido.' ]"
            outlined
          />
          <v-text-field
            ref="radius"
            v-model.number="circle.radius"
            class="my-0 py-0"
            label="Radio del circulo"
            full-width
            :rules="[ value => !!value || 'Este campo es requerido.' ]"
            outlined
          />
          <v-btn
            block
            color="secondary"
            :loading="loading"
            height="3.5em"
            class="my-2"
            @click="addCircle"
          >
            <span v-if="!edit">Agregar</span>
            <span v-if="edit">Actualizar</span>
          </v-btn>
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <v-data-table
            :headers="headers"
            :items="circles"
            disable-pagination
            disable-sort
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:[`item.acciones`]="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editCircle(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                @click="deleteCircle(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>

        </v-col>
      </v-row>
    </v-card-text>

    <v-card-actions>
      <v-btn
        block
        color="primary"
        :loading="loading"
        height="3.5em"
        class="my-4"
        @click="handleGenerate"
      >
        Calcular
      </v-btn>
    </v-card-actions>
    <v-card-text
      v-if="output.length > 0"
      class="mt-4 mb-4 black--text text-h6"
    >
      Circulos que colisionan:
      <p
        v-for="(item, index) in output"
        :key="index"
        class="mt-2 mb-1"
      >
        • {{ item.name }} colisiona con: {{ item.intercepted }}
      </p>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  data () {
    return {
      amount: '',
      message: '',
      showAlert: false,
      loading: false,
      output: [],
      circle: {
        name: '',
        x: '',
        y: '',
        radius: ''
      },
      circles: [],
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'X', value: 'x' },
        { text: 'Y', value: 'y' },
        { text: 'Radius', value: 'radius' },
        { text: 'Acciones', value: 'acciones', sortable: false }
      ],
      editedIndex: -1,
      edit: false
    }
  },
  methods: {
    addCircle () {
      if (this.editedIndex > -1) {
        Object.assign(this.circles[this.editedIndex], this.circle)
        this.edit = false
      } else {
        this.circles.push(this.circle)
      }
      this.circle = {
        name: '',
        x: '',
        y: '',
        radius: ''
      }
      Object.keys(this.circle).forEach((f) => {
        this.$refs[f].reset()
      })
      this.editedIndex = -1
    },
    editCircle (circle) {
      this.editedIndex = this.circles.indexOf(circle)
      this.circle = Object.assign({}, circle)
      this.edit = true
    },
    deleteCircle (circle) {
      this.editedIndex = this.circles.indexOf(circle)
      this.circles.splice(this.editedIndex, 1)
      this.editedIndex = -1
    },
    handleGenerate () {
      this.showAlert = false
      this.loading = true
      this.$axios.post('/api/exercises/circles', {
        circles: this.circles
      })
        .then((res) => {
          this.loading = false
          // this.circles = []
          this.output = res.data.data.result
        })
        .catch((err) => {
          this.loading = false
          this.message = err.response.data.message
          this.showAlert = true
        })
    }
  }
}
</script>
