<template>
  <v-card
    class="pa-5"
    light
  >
    <v-card-title
      class="d-flex justify-center text-h4"
    >
      Primos
    </v-card-title>
    <v-card-text
      class="mt-8"
    >
      <v-alert
        v-model="showAlert"
        dismissible
        class="mt-2 mb-5 px-3 py-2"
        type="error"
      >
        {{ message }}
      </v-alert>
      <p
        class="ma-0 px-0 pb-2 black--text text-bold text-h6"
      >
        Cantidad de números primos
      </p>
      <v-text-field
        v-model.number="amount"
        placeholder="1, 2, 3, 4, ..."
        full-width
        :rules="[ value => !!value || 'Este campo es requerido.' ]"
        outlined
      />
      <v-btn
        block
        color="primary"
        :loading="loading"
        height="3.5em"
        class="my-4"
        @click="handleGenerate"
      >
        Generar
      </v-btn>
    </v-card-text>
    <v-card-text
      v-if="output.length > 0"
      class="mt-4 mb-8 black--text text-h6"
    >
      Números primos:
      {{ output }}
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  data () {
    return {
      amount: '',
      message: '',
      showAlert: false,
      loading: false,
      output: []
    }
  },
  methods: {
    handleGenerate () {
      this.showAlert = false
      this.loading = true
      this.$axios.post('/api/exercises/primes', {
        qty: this.amount
      })
        .then((res) => {
          this.loading = false
          this.output = res.data.data.result
        })
        .catch((err) => {
          this.loading = false
          this.message = err.response.data.message
          this.showAlert = true
          console.log(err)
        })
    }
  }
}
</script>
