<template>
  <v-card
    class="pa-5"
    light
  >
    <v-card-title
      class="d-flex justify-center text-h4"
    >
      Espiral
    </v-card-title>
    <v-card-text
      class="mt-8"
    >
      <v-alert
        v-model="showAlert"
        dismissible
        class="mt-2 mb-5 px-3 py-2"
        type="error"
      >
        {{ message }}
      </v-alert>
      <p
        class="ma-0 px-0 pb-2 black--text text-bold text-h6"
      >
        Números para la matriz
      </p>
      <v-text-field
        v-model="matrix"
        placeholder="1, 2, 3, 4, ..."
        full-width
        :rules="[ value => !!value || 'Este campo es requerido.' ]"
        outlined
      />
      <p
        class="ma-0 px-0 pb-2 black--text text-bold text-h6"
      >
        Tamaño de la matriz
      </p>
      <v-text-field
        v-model.number="size"
        placeholder="3"
        full-width
        :rules="[ value => !!value || 'Este campo es requerido.' ]"
        outlined
      />
      <v-btn
        block
        color="primary"
        :loading="loading"
        height="3.5em"
        class="my-4"
        @click="handleGenerate"
      >
        Generar
      </v-btn>
    </v-card-text>
    <v-card-text
      v-if="output.length > 0"
      class="mt-4 mb-8 black--text text-h6"
    >
      Matriz a contrareloj:
      {{ output }}
    </v-card-text>
  </v-card>
</template>

<script>
import _ from 'lodash'

export default {
  data () {
    return {
      matrix: '',
      size: '',
      message: '',
      showAlert: false,
      loading: false,
      output: []
    }
  },
  methods: {
    handleGenerate () {
      const stringify = JSON.stringify(this.matrix)
      let plainArray = stringify.split(',')
      plainArray = plainArray.map((e) => { return parseInt(e.replace('"', '')) })

      const data = _.chunk(plainArray, parseInt(this.size))

      if (
        data.length !== parseInt(this.size) ||
        !data.every((arr) => { return arr.length === parseInt(this.size) })
      ) {
        this.message = 'La cantidad de números ingresada no corresponde con el tamaño de la matriz.'
        this.showAlert = true
      } else {
        this.showAlert = false
        this.loading = true
        this.$axios.post('/api/exercises/spiral', {
          spiralDirection: 'counterClockwise',
          matrix: data,
          size: parseInt(this.size)
        })
          .then((res) => {
            this.loading = false
            this.output = res.data.data.result.output
          })
          .catch((err) => {
            this.loading = false
            console.log(err)
          })
      }
    }
  }
}
</script>
