// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$dark-bg: #263238;

.custom-container {
    background-color:#121212; 
    height: 100%;
}

.white-shadow {
    box-shadow: 0px 10px 40px 0 rgba(231, 231, 231, 0.1) !important;
}