<template>
  <v-app dark>
    <v-app-bar
      fixed
      color="primary"
      app
    >
      <v-toolbar-title
        v-text="'Nuxtjs App with Vuetify'"
      />
      <v-spacer />
      <v-btn
        icon
      >
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-menu
        :close-on-content-click="false"
        :nudge-width="-70"
        offset-x
        offset-y
      >
        <template #activator="{ on, attrs }">
          <v-btn
            rounded
            v-bind="attrs"
            icon
            v-on="on"
          >
            <v-icon
              size="3em"
            >
              mdi-account-circle
            </v-icon>
          </v-btn>
        </template>
        <v-list
          color="white"
          light
          class="mt-3"
          width="12em"
        >
          <v-list-item
            class="black--text"
          >
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn
                icon
              >
                <v-icon color="black">
                  mdi-wrench
                </v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-list-item
            @click="logout"
          >
            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>

            <v-list-item-action>
              <v-btn
                icon
              >
                <v-icon color="black">
                  mdi-arrow-right-box
                </v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
    <v-footer
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  methods: {
    async logout () {
      await this.$auth.strategy.token.reset()
      await this.$router.go(0)
    }
  }
}
</script>
