<template>
  <v-container
    class="custom-container "
    fluid
  >
    <v-row
      class="mt-2 mb-16 mb-md-0 mt-md-7 mt-lg-16 pt-0 pt-lg-16 mx-0 mx-md-16 px-2 px-sm-10"
      justify="center"
      align="center"
    >
      <v-col
        v-for="exercice in exercises"
        :key="exercice.name"
        class="mt-16 d-flex justify-center"
        cols="12"
        lg="4"
        sm="6"
      >
        <v-card
          shaped
          :height="getHeight"
          width="20em"
          color="primary"
          class="white--text white-shadow"
          @click="openDialog(exercice.dialog)"
        >
          <v-img
            :height="getImgHeight"
            :src.sync="exercice.img"
          />
          <v-card-title>
            {{ exercice.name }}
          </v-card-title>
          <v-card-text
            class="subtitle-1 mb-0 pb-0"
          >
            Presione el botón 'Probar' para ejecutar el ejercicio.
          </v-card-text>
          <v-card-actions>
            <v-btn
              block
              rounded
              height="3em"
              class="mt-0 mt-sm-1"
              @click="openDialog(exercice.dialog)"
            >
              Probar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      light
      max-width="800"
    >
      <Spiral
        v-if="exerciseName === 'spiral'"
      />
      <Primes
        v-if="exerciseName === 'primes'"
      />
      <Circles
        v-if="exerciseName === 'circles'"
      />
    </v-dialog>
  </v-container>
</template>

<script>
import Spiral from '../components/Spiral.vue'
import Primes from '../components/Primes.vue'
import Circles from '../components/Circles.vue'

export default {
  auth: 'auth',
  components: {
    Spiral,
    Primes,
    Circles
  },
  data () {
    return {
      exercises: [
        {
          name: 'Spiral',
          img: require('~/assets/spiral.jpg'),
          dialog: 'spiral'
        },
        {
          name: 'Primes',
          img: require('~/assets/prime-number.jpg'),
          dialog: 'primes'
        },
        {
          name: 'Circles',
          img: require('~/assets/circles.jpeg'),
          dialog: 'circles'
        }
      ],
      cardHeight: '22em',
      imgHeight: '140',
      dialog: false,
      exerciseName: ''
    }
  },
  computed: {
    getHeight () {
      return this.cardHeight
    },
    getImgHeight () {
      return this.imgHeight
    }
  },
  watch: {
    exerciseName (name) {
      this.exerciseName = name
    }
  },
  methods: {
    openDialog (str) {
      this.dialog = true
      this.exerciseName = str
    }
  }
}
</script>
