<template>
  <v-container
    fluid
    class="custom-container"
  >
    <v-row class="mt-16 pt-16" justify="center" align="center">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-alert
          v-for="(err, index) in flattenErrors"
          :key="index"
          v-model="showAlert"
          dismissible
          class="my-2 px-3 py-2"
          type="error"
        >
          {{ err }}
        </v-alert>

        <v-card
          rounded="6"
          class="mt-16 text-center py-4 custom-card"
        >
          <v-card-title
            class="text-h4 d-flex justify-center text-primary"
          >
            Iniciar sesión
          </v-card-title>
          <v-card-text
            class="mx-0 px-0"
          >
            <v-form
              class="mx-0 mx-sm-4 mx-md-8"
            >
              <v-row
                class="mx-0 my-5"
              >
                <v-col cols="12" class="py-0 py-sm-3">
                  <v-text-field
                    v-model="data.email"
                    class="ma-0 px-0"
                    dark
                    rounded
                    outlined
                    label="Nombre de usuario"
                    required
                    color="primary"
                  />
                </v-col>
                <v-col cols="12" class="py-0 py-sm-3">
                  <v-text-field
                    v-model="data.password"
                    :append-icon="getIcon"
                    dark
                    rounded
                    outlined
                    label="Contraseña"
                    required
                    :type="show ? 'text' : 'password'"
                    color="primary"
                    @click:append="showPassword"
                  />
                </v-col>
                <v-col cols="12" class="py-0 pt-0 pb-3">
                  <v-btn
                    block
                    rounded
                    :loading="loading"
                    height="3.4em"
                    color="primary"
                    class="white-text pt-0 mt-0"
                    @click="handleLogin"
                  >
                    Iniciar sesión
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import _ from 'lodash'

export default {
  layout: 'simpleLayout',
  auth: 'guest',
  name: 'Login',
  data () {
    return {
      data: {
        email: '',
        password: ''
      },
      show: false,
      flattenErrors: [],
      showAlert: false,
      loading: false
    }
  },
  computed: {
    getIcon () {
      return this.show ? 'mdi-eye' : 'mdi-eye-off'
    }
  },
  methods: {
    showPassword () {
      this.show = !this.show
    },
    handleLogin () {
      this.loading = true
      try {
        this.$auth.loginWith('local', { data: this.data })
          .then(async (res) => {
            await this.$auth.setUser(res.data.data.user)
            this.loading = false
            await this.$router.push('/')
          })
          .catch((err) => {
            this.loading = false
            let errors = []
            if (err.response.data.errors) {
              errors = err.response.data.errors.map((obj) => {
                return Object.values(obj.constraints)
              })
            } else {
              errors = [err.response.data.message]
            }
            this.flattenErrors = _.flattenDeep(errors)
            this.showAlert = true
          })
      } catch (error) {
        this.loading = false
        console.log(error)
      }
    }
  }
}
</script>

<style lang='scss'>
  .custom-card {
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0px 10px 40px 0 rgba(231, 231, 231, 0.1) !important;
  }
</style>
